.cc-reference p{
  font-weight: 1000px;
  color: black;
  font-style: bold;
}

.category p{
    width: 10%
}
.card{
  /* position: absolute; */
  height: 60vh;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(140, 0, 255));

}
.paragraph{
  font-family: Atts;
  font-size: x-large;
}
.carousel .slide{
  /* position: relative; */

  min-height: max-content;
}
.carousel-inner{
  border: red !important
}
.carousel-indicators{
  position: fixed;
  margin-bottom: 5%;
}
