<div class="section" id="projects">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Projects</div>

    <div class="row">
      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/portfolio2.PNG"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Personal Portfolio</h4>
              <h5 class="card-text">
                <b>Technology :</b> Frontend,Bootstrap3,Node,Express
              </h5>
              <!-- <h5 class="card-text"><a href="http://iam-atts.herokuapp.com/">View my Live Demo</a></h5> -->

              <a
                href="http://iam-atts.herokuapp.com/"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >See Project</a
              >
              <a
                href="https://github.com/Akhlaquea01/MyPortfolio"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/AngularPortfolio.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Personal Portfolio Using Angular</h4>
              <h5 class="card-text"><b>Technology :</b> Angular</h5>

              <a href="#" class="btn btn-primary stretched-link ml-2 mr-5"
                >See Project</a
              >
              <a href="https://github.com/Akhlaquea01/Angular_CV" class="btn btn-primary stretched-link">GithubLink</a>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/Zonal.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Zonal Fest Website</h4>
              <h5 class="card-text"><b>Technology :</b> HTML5,CSS3,JS,etc</h5>
              <a
                href="https://akhlaquea01.github.io/Zonal-Fest/"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >See Project</a
              >
              <a
                href="https://github.com/Akhlaquea01/Zonal-Fest"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/BookDB.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">BookStore(Class)</h4>
              <h5 class="card-text"><b>Technology :</b> Python</h5>
              <a href="#" class="btn btn-primary stretched-link ml-2 mr-5"
                >See Project</a
              >
              <a
                href="https://github.com/Akhlaquea01/Book-Store"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/Chat-app.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Chat App(Training)</h4>
              <h5 class="card-text"><b>Technology :</b> Nodejs</h5>
              <a
                href="http://chat-atts.herokuapp.com/"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >See Project</a
              >
              <a
                href="https://github.com/Akhlaquea01/ChitChat"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/TodoReact.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">ToDo List</h4>
              <h5 class="card-text">
                <b>Technology :</b> React
              </h5>
              <a
                href="https://akhlaquea01.github.io/To-Do-App-in-React-code-master/"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >See Project</a
              >
              <a
                href="https://github.com/Akhlaquea01/To-Do-App-in-React-code-master"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/ToDo's.PNG"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">ToDo List</h4>
              <h5 class="card-text">
                <b>Technology :</b> HTML,CSS,JavaScript
              </h5>
              <a
                href="https://akhlaquea01.github.io/ToDo-s-List/"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >See Project</a
              >
              <a
                href="https://github.com/Akhlaquea01/ToDo-s-List"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/Weather-app.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Weather</h4>
              <h5 class="card-text"><b>Technology :</b> HTML5,CSS3,JS,Node</h5>
              <a
                href="http://iamatts-weather.herokuapp.com/"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >See Project</a
              >
              <a
                href="https://github.com/Akhlaquea01/Node_weatherAPP"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
